* {
  font-family: 'Comic Neue', cursive;
}

ul {
  list-style-type: none;
  border: 2px solid black;
  width: 1000px;
  height: 300px;
  overflow: auto;
}

.books1 {
   background-color: gray;
   color: white;
}

li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 0 5px 0;
  font-size: 20px;
}

li p {
  margin-left: 1%;
}

.margin-left {
 margin-left: 40%;
}
.margin-left2 {
  margin-left: 2%;
}

#ulBooks {
  padding: 0;
}

form {
  font-size: 20px;
}

.removeBtn {
  border-radius: 10px;
  background-color: #ff7675;
}

.removeBtn:hover {
  background-color: #d63031;
}